body{
  text-align:center;
  background-color:rgb(31, 11, 82);
  color:white;
  border-left:50px lightblue solid;
    border-right:50px lightblue solid;
      border-bottom:50px lightblue solid;

}
 #one{
  padding:30px 400px 25px 400px;
}
#two{
  padding:25px 400px 50px 400px;
}
h2{
  border-bottom:30px solid rgb(31, 11, 82);
}
#last{
  color:black;
  font-weight: bold;
  background-color: rgb(245, 201, 7);
  padding:25px;
  border-radius:30px;
  margin-bottom:auto;
}
